[submodule "pack/mypackage/opt/tabular"]
	path = pack/mypackage/opt/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "pack/mypackage/opt/vim-diff-enhanced"]
	path = pack/mypackage/opt/vim-diff-enhanced
	url = https://github.com/chrisbra/vim-diff-enhanced.git
[submodule "pack/mypackage/opt/vim-textobj-user"]
	path = pack/mypackage/opt/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user.git
[submodule "pack/mypackage/opt/vim-textobj-indent"]
	path = pack/mypackage/opt/vim-textobj-indent
	url = https://github.com/kana/vim-textobj-indent.git
[submodule "pack/mypackage/opt/vim-textobj-parameter"]
	path = pack/mypackage/opt/vim-textobj-parameter
	url = https://github.com/sgur/vim-textobj-parameter.git
[submodule "pack/mypackage/opt/nerdtree"]
	path = pack/mypackage/opt/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "pack/mypackage/opt/fzf"]
	path = pack/mypackage/opt/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "pack/mypackage/opt/vim-gutentags"]
	path = pack/mypackage/opt/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "pack/mypackage/opt/vim-preview"]
	path = pack/mypackage/opt/vim-preview
	url = https://github.com/skywind3000/vim-preview.git
[submodule "pack/mypackage/opt/vista.vim"]
	path = pack/mypackage/opt/vista.vim
	url = https://github.com/liuchengxu/vista.vim.git
[submodule "pack/mypackage/opt/vim-matchup"]
	path = pack/mypackage/opt/vim-matchup
	url = https://github.com/andymass/vim-matchup.git
[submodule "pack/mypackage/opt/vim-table-mode"]
	path = pack/mypackage/opt/vim-table-mode
	url = https://github.com/dhruvasagar/vim-table-mode.git
[submodule "pack/mypackage/opt/vim-surround"]
	path = pack/mypackage/opt/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/mypackage/opt/ack.vim"]
	path = pack/mypackage/opt/ack.vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "pack/mypackage/opt/fzf.vim"]
	path = pack/mypackage/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "pack/mypackage/start/undotree"]
	path = pack/mypackage/start/undotree
	url = https://github.com/mbbill/undotree.git
[submodule "pack/mypackage/start/vim-dict"]
	path = pack/mypackage/start/vim-dict
	url = https://github.com/asins/vim-dict.git
[submodule "pack/mypackage/opt/vim-abolish"]
	path = pack/mypackage/opt/vim-abolish
	url = https://github.com/tpope/vim-abolish.git
[submodule "pack/mypackage/opt/vim-commentary"]
	path = pack/mypackage/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "pack/mypackage/opt/vim-fugitive"]
	path = pack/mypackage/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/mypackage/opt/asyncrun.vim"]
	path = pack/mypackage/opt/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim.git
